# Lab 2: ECE P 595

Modified file

## Introduction to Privacy Engineering, Spring 2020


## Data Mining

##### Installation:

Same as Lab 1. <br>No additional packages are required.

##### This lab consists of 7 questions.

We will be using the 'Strava cycling data of multiple segments in Jeddah' dataset for this lab. 

##### Grading rubric: for each question,
100% of the points - Correct code, correct output<br>
50% of the points - Minor logical error, partial output<br>
0% of the points - No attempt, incomplete code, wrong output

##### Submission instructions

You will have to submit the completed jupyter notebook file (.ipynb) in Canvas.

### Note: The last cell of this .ipynb is a markdown cell for your answers. <br>Please fill this cell to complete your lab submission. 

The coding cells can be used for computations or observations. <br>


***
***

##### Dataset

##### Strava cycling data of multiple segments in Jeddah, Saudi Arabia

Strava is a social platform for cyclists and runners to share their activity and form groups.

A Strava Segment is an activity path with limited distance which anybody can take (given that they are recording an activity) to participate in a leaderboard to see who is the fastest.

Features:

- user_age_group: The age group of the participant
- user_id: The User ID of the participant
- attempt_date: The date of attempt of the entry in the leaderboard
- gender: The gender of the participant
- smt_rank: The participant's rank in the leaderboard
- smt_avg_spd: The participant's average speed in km/h within the segment
- smt_finish_seconds: The time taken for the participant to complete the segment in seconds
- smt_name: The name of the segment
- user_weight_category: The weight category of the participant
- act_title: The title of the activity which included the segment attempt
- act_avg_spd: The participant's average speed in km/h during the activity
- act_max_spd: The participant's maximum speed in km/h during the activity
- act_total_km: The total distance of the participant's activity in kilometers
- act_moving_seconds: The total time which the participant spent moving during the activity in seconds
- act_total_seconds: The total time of the activity (including stop times) in seconds
- has_hr_data: Whether there was data of participant's heart rate in the segment attempt

https://www.kaggle.com/baghlafturki/strava-jeddah-segments-leaderboard

This dataset is available in your HW zip file. 


***

#### Loading the file

In [1]:
# Loading libraries 

import numpy as np
import math
import pandas as pd

In [2]:
# Reading the data file
# Each row represents a user activity entry 

df = pd.read_csv("jeddah_strava_segments.csv")
df.head(5)

,user_age_group,user_id,attempt_date,gender,smt_rank,smt_avg_spd,smt_finish_seconds,smt_name,user_weight_category,act_title,act_avg_spd,act_max_spd,act_total_km,act_moving_seconds,act_total_seconds,has_hr_data
0,19 and under,1,2018-12-10,male,1,58.7,240,Starbucks to Majid,54 kg and under,Afternoon Ride,37.0,150.8,52.93,5147,5147,0
1,19 and under,2,2019-04-27,male,2,39.9,353,Starbucks to Majid,65 to 74 kg,Morning Ride,37.3,53.3,42.06,4057,4057,0
2,19 and under,3,2019-12-13,male,3,36.4,387,Starbucks to Majid,65 to 74 kg,تمرين صباحي جميل winking face flexed biceps ma...,26.3,46.4,65.43,8962,8962,0
3,19 and under,4,2017-12-28,male,4,36.2,389,Starbucks to Majid,54 kg and under,Morning Ride,31.4,45.4,44.60,5121,5121,0
4,19 and under,5,2015-02-09,male,5,35.0,402,Starbucks to Majid,54 kg and under,Evening Speeders Group Ride,20.2,46.8,103.59,18504,18504,0

Each row of this dataframe represents a user activity entry. <br>
Each column of this dataframe represents a feature associated with the user entry. <br><br>

In [3]:
# Printing the rows and columns

print("The dataframe contains ",df.shape[0]," rows.")
print("The dataframe contains ",df.shape[1]," columns.")

The dataframe contains  7865  rows.
The dataframe contains  16  columns.

In [4]:
# Printing the names of the columns

for col in df.columns: 
    print(col)

user_age_group
user_id
attempt_date
gender
smt_rank
smt_avg_spd
smt_finish_seconds
smt_name
user_weight_category
act_title
act_avg_spd
act_max_spd
act_total_km
act_moving_seconds
act_total_seconds
has_hr_data

The description of these features can be found at the first markdown cell ( on top ) of this .ipynb
<br><br>
Among these columns, let's look at the user age group.

In [5]:
# The filter function is used here to extract a subset of columns from the dataset.

df.filter(['user_age_group'])

     user_age_group
0      19 and under
1      19 and under
2      19 and under
3      19 and under
4      19 and under
...             ...
7860       70 to 74
7861            75+
7862            75+
7863            75+
7864            75+

[7865 rows x 1 columns]

What are the user age groups  present in this dataset? <br><br>
We can use Pandas' "unique" function to filter out all the repeating values in a column. <br>

In [6]:
# Printing the unique values 
for grp in df.user_age_group.unique():
    print(grp)

19 and under
20 to 24
25 to 34
35 to 44
45 to 54
55 to 64
65 to 69
75+
70 to 74

How many user entries are present per age group? 
 
<br>Let's find out the number of user entries per age group.
<br> Since each row represents a user entry, <br>
We want to count the number of rows for each of the 'user_age_group' categories. 

<br> Using Pandas,
<br> We can do this by grouping the data based on the column values in 'user_age_group' <br> and counting the number of rows for each group.
<br> The functions used are 'groupby' and 'count'.

In [7]:
# Using grouping and counting to find the number of user entries per age group.

df.groupby('user_age_group').count()

,user_id,attempt_date,gender,smt_rank,smt_avg_spd,smt_finish_seconds,smt_name,user_weight_category,act_title,act_avg_spd,act_max_spd,act_total_km,act_moving_seconds,act_total_seconds,has_hr_data
user_age_group,,,,,,,,,,,,,,,
19 and under,370,370,370,370,370,370,370,349,370,370,370,370,370,370,370
20 to 24,705,705,705,705,705,705,705,676,705,705,705,705,705,705,705
25 to 34,3353,3353,3353,3353,3353,3353,3353,3173,3353,3353,3353,3353,3353,3353,3353
35 to 44,2323,2323,2323,2323,2323,2323,2323,2190,2323,2323,2323,2323,2323,2323,2323
45 to 54,880,880,880,880,880,880,880,823,880,880,880,880,880,880,880
55 to 64,192,192,192,192,192,192,192,177,192,192,192,192,192,192,192
65 to 69,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
70 to 74,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
75+,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18

We can observe that the row counts have been computed for each category.

#### Question 1 ( 3 points )

##### Which named segment has the least number of user activity entries?

Named segments are the named path segments for the cycling/activity routes.
<br> Identify the column that contains this information
<br> Use this column to find out the number (count) of user activity entries (rows) for each named segment. 
<br> From these counts, find out which named segment has the least count.

In [8]:
## You can use this cell for Question 1
## YOUR CODE HERE:

least_count_path = df['smt_name'].value_counts().idxmin()
print(least_count_path)

Al Fardoos to shellfish round about

#### Question 2 ( 3 points )

##### Which user weight category has the most number of user activity entries?
<br> Similar to Q.1

In [9]:
## You can use this cell for Question 2
## YOUR CODE HERE:


most_weight_group = df['user_weight_category'].value_counts().idxmax()
print(most_weight_group)

54 kg and under

#### Question 3 ( 3 points )

##### Which numerical feature has the highest magnitude of correlation with 'smt_rank' ?
'smt_rank' refers to the participant's rank in the leaderboard

The correlation of a variable with itself is always 1. <br>
We are looking for a numerical feature other than 'smt_rank' itself. 
<br> For this question, the correlation matrix is provided to you as a dataframe.

In [10]:
#Standard correlation for the numerical features in this dataframe.

df_corr = df.select_dtypes(['number']).corr(method='pearson')

In [11]:
## You can use this cell for Question 3
## YOUR CODE HERE:


sorted_correlation = df_corr['smt_rank'].abs().sort_values(ascending=False)

best_corr_name = sorted_correlation.index[1]
best_corr_value = sorted_correlation[1]

print(best_corr_name, best_corr_value)

smt_avg_spd 0.5463821107460634

#### Question 4 ( 5 points)

The unique identifiers ( values with frequency = 1 ) present in the columns/features of this dataset can be used to deterministically identify a user segment entry or a user ID. <br>The unique identifiers can result in de-anonymization of the data entry or the user. 

##### Among the 16 features/columns of this dataset, which feature(s) have the highest number of unique identifiers associated with the row (user entry) ?
##### How many unique identifiers do these column(s) have?

To find the number of unique identifiers,
<br> For each column,
<br> We identify the values that have frequency (row-count) = 1
<br> These are the unique identifiers present in that column
<br> Count these unique identifiers for each column. 
<br> If this is done, For each column, we have the number of unique identifiers.
<br> The column(s) with the highest number of unique identifiers can now be determined.

In [12]:
## You can use this cell for Question 4
## YOUR CODE HERE:

df.nunique().sort_values(ascending=False)

act_total_seconds       4275
act_moving_seconds      4275
act_total_km            3805
user_id                 2254
attempt_date            1528
smt_finish_seconds      1301
act_title               1213
smt_rank                 735
smt_avg_spd              475
act_avg_spd              338
act_max_spd              283
smt_name                   9
user_age_group             9
user_weight_category       8
has_hr_data                2
gender                     2
dtype: int64

#### Question 5 ( 3 points )

Binning or discretization can reduce the risk of de-anonymization in a dataset. 

##### If the 'act_moving_seconds' is replaced with the nearest integer-valued minute, <br> what is the modified number of unique identifiers present in this column? 
Steps:
- replace 'act_moving_seconds' with the nearest integer-valued minute.
- find the new/modified number of unique identifiers for this column ( same steps as Q.4 )

<br> To replace the values in a column, take a look at this following example:

In [13]:
## Example for replacing values in a column
## In this example, we are replacing the user_ID with 42 x user_ID

## We don't want to disturb the original dataframe.
df_example = df.copy()

print(df_example.filter(['user_id']).head(5))
print("\n \n Example: replacing the user_ID with 42 x user_ID  \n \n")

## Pay attention to this: 
df_example['user_id'] = df_example.apply (lambda row: row['user_id']*42 , axis=1)

print(df_example.filter(['user_id']).head(5))

   user_id
0        1
1        2
2        3
3        4
4        5


 Example: replacing the user_ID with 42 x user_ID


   user_id
0       42
1       84
2      126
3      168
4      210

In [14]:
## You can use this cell for Question 5
## YOUR CODE HERE:

df_example = df.copy()
df_example['act_total_seconds'] /= 60
df_example['act_total_seconds'] = df_example['act_total_seconds'].astype(int)

new_num_unique = df_example.nunique().sort_values(ascending=False)


new_act_minutes = new_num_unique['act_total_seconds']

print('act_total_minutes', new_act_minutes)

act_total_minutes 363

You will notice that for this column ( 'act_moving_seconds' ), the modified number of unique identifiers is significantly lower than the number of unique identifiers before modification.

#### Question 6 ( 4 points )

Consider the information present in these 3 columns : <br>'user_id', 'user_age_group' and 'gender'

In [15]:
df6 = df.filter(['user_id','user_age_group','gender'])
df6.head(10)

   user_id user_age_group gender
0        1   19 and under   male
1        2   19 and under   male
2        3   19 and under   male
3        4   19 and under   male
4        5   19 and under   male
5        6   19 and under   male
6        7   19 and under   male
7        8   19 and under   male
8        9   19 and under   male
9       10   19 and under   male

Given only this data subset, among the different 'gender'-'user-age-group' pairings in this subset,

#####  Which pairing poses the highest risk of de-anonymization for the associated users and their 'user_id'?
##### Which pairing poses the least risk?

Pairing: refers to all the possible 'gender'-'user-age-group' pairs in this dataset. 
<br> Hint: Pandas grouping can be done using more than 1 column. <br>
<br> Risk: For this specific question, building from (Q.4), risk refers to the amount of data that can be de-anonymized using unique identifiers. <br>
<br> If a pairing has more unique identifiers, the users associated with that pairing have higher risk of being de-anonymized.

In [16]:
## You can use this cell for Question 6
## YOUR CODE HERE:

groupped_gender_age = df6.groupby(['gender','user_age_group']).count()

least_risk = groupped_gender_age['user_id'].idxmax()
most_risk = groupped_gender_age['user_id'].idxmin()

print('Least Risk = ',least_risk)
print('Most Risk = ',most_risk)

Least Risk =  ('male', '25 to 34')
Most Risk =  ('female', '65 to 69')

In [17]:
df6.groupby(['gender','user_age_group']).count()

                       user_id
gender user_age_group
female 19 and under         31
       20 to 24             32
       25 to 34            145
       35 to 44             76
       45 to 54             28
       55 to 64              4
       65 to 69              1
male   19 and under        339
       20 to 24            673
       25 to 34           3208
       35 to 44           2247
       45 to 54            852
       55 to 64            188
       65 to 69             20
       70 to 74              3
       75+                  18

#### Question 7 ( 4 points )

For the dataframe ( 'df6' containing 3 features )  in Question 6, 


##### Recommend a method to ensure that all the users associated with the different 'gender'-'user-age-group' pairings are equally protected. 
( expected: 2-3 sentences ) 

##### Does your recommendation contribute to any additional risk of de-anonymization?   
( expected: 2-3 sentences)

<br> Hint: Observing the counts of unique identifiers associated with the pairings (Q.6) can be helpful. 

Enter your answer in the 'Submitted answers' cell.

***

( Double click the cell below to edit it )

***

# Submitted answers:


* Q.1 : [3] Least number of user activity entries - <b>Al Fardoos to shellfish round about</b>


* Q.2 : [3] Weight category with most entries - <b>54 kg and under</b>


* Q.3 : [3] Feature with highest magnitude of correlation - <b>smt_avg_spd 0.5463821107460634</b>


* Q.4 : 
   * (a) [3] Column names -  <b>act_total_seconds, act_moving_seconds, act_total_km, user_id, attempt_date, smt_finish_seconds, act_title, smt_rank, smt_avg_spd, act_avg_spd, act_max_spd, smt_name, user_age_group, user_weight_category, has_hr_data, gender</b>

   * (b) [2] No. of unique identifiers - <b>4275, 4275, 3805, 2254, 1528, 1301, 1213, 735, 475, 338, 283, 9, 9, 8, 2, 2</b>
   
   * Combined: <b>
<br>act_total_seconds       4275</br>
<br>act_moving_seconds      4275</br>
<br>act_total_km            3805</br>
<br>user_id                 2254</br>
<br>attempt_date            1528</br>
<br>smt_finish_seconds      1301</br>
<br>act_title               1213</br>
<br>smt_rank                 735</br>
<br>smt_avg_spd              475</br>
<br>act_avg_spd              338</br>
<br>act_max_spd              283</br>
<br>smt_name                   9</br>
<br>user_age_group             9</br>
<br>user_weight_category       8</br>
<br>has_hr_data                2</br>
<br>gender                     2</br>
</b>

* Q.5 [3] : Modified number of unique identifiers - <b>act_total_minutes 363</b>


* Q.6 : 
   * (a) [2] Pairing with highest risk -  <b>'female', '65 to 69'</b>

   * (b) [2] Pairing with lowest risk - <b>'male', '25 to 34'</b>


* Q.7 :
   * (a) [2] Recommendation -  <b>One method for reducing identification risk could be redistributing the age groupings. Looking at the current groups, you can see that the vast majority of the users falls in the 25-44 age range. Instead of groupping in 5-10 year chunks, break the groups with many more people into smaller age groups, and combine age groups that are smaller.</b>

   * (b) [2] Additional risk - <b>The plan of recombining age groups to have more equal distribution creates the additional risk of having too granual of information. Having a large group of people in the 25-44 age group protects them against identification by having many other people in that same group. If we break it down, people in those age ranges have higher risk of being identified because they have more granular information on your age than before.</b>